<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://caucho.com/ns/resin">
  <display-name>PowerGamingService</display-name>
  <servlet>
    <servlet-name>PowerGaming</servlet-name>
    <servlet-class>com.eddie.PowerGamingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PowerGaming</servlet-name>
    <url-pattern>/power_gaming</url-pattern>
  </servlet-mapping>
</web-app>
